@import '../../../../assets/scss/all';

.Product {
  margin-bottom: 10px;
}

.ProductSelected {
  font-weight: 800;
}

.ProductName {
  font-size: rem(12px);
}

.ProductDescription {
  font-style: italic;
  font-size: rem(12px);
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
