.Product {
  margin-bottom: 10px; }

.ProductSelected {
  font-weight: 800; }

.ProductName {
  font-size: 0.75rem; }

.ProductDescription {
  font-style: italic;
  font-size: 0.75rem;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px; }
