@import '../../../../assets/scss/all';

.Category {
  font-size: rem(16px);
  color: $color-black;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.CategorySelected {
  font-weight: 800;
}
